version: '3'
services:
  sd:
    image: koumoul/simple-directory:1
    network_mode: host
    ports:
      - 8080
      - 1080
      - 1025
    environment:
      - DEBUG=webhooks
      - ADMINS=["superadmin@test.com"]
      - PUBLIC_URL=http://localhost:5994/simple-directory
      - MAILDEV_ACTIVE=true
      - STORAGE_TYPE=file
      - NUXT_BUILD_BLOCKING=false
      - NO_UI=${NO_UI}
      - SECRET_SENDMAILS=sendmails-secret
    volumes:
      - ./test/resources/users.json:/webapp/data/users.json
      - ./test/resources/organizations.json:/webapp/data/organizations.json

  openapi-viewer:
    image: koumoul/openapi-viewer:1
    ports:
      - 5680:8080

  # simple mongodb cluster with sharding as notify has to be compatible with sharding
  config01:
    image: mongo
    command: mongod --port 27017 --configsvr --replSet configserver
    volumes:
      - ./scripts:/scripts
  config02:
    image: mongo
    command: mongod --port 27017 --configsvr --replSet configserver
    volumes:
      - ./scripts:/scripts
  shard01a:
    image: mongo
    command: mongod --port 27018 --shardsvr --replSet shard01
    volumes:
      - ./scripts:/scripts
  shard01b:
    image: mongo
    command: mongod --port 27018 --shardsvr --replSet shard01
    volumes:
      - ./scripts:/scripts
  shard02a:
    image: mongo
    command: mongod --port 27019 --shardsvr --replSet shard02
    volumes:
      - ./scripts:/scripts
  shard02b:
    image: mongo
    command: mongod --port 27019 --shardsvr --replSet shard02
    volumes:
      - ./scripts:/scripts
  router:
    image: mongo
    command: mongos --port 27017 --configdb configserver/config01:27017,config02:27017 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - ./scripts:/scripts
    depends_on:
      - config01
      - config02
      - shard01a
      - shard01b
      - shard02a
      - shard02b
